body {
    background-color: #6C151E;
    font-family: cursive;
    padding-bottom: 30px;
    padding: 0px 5% 30px;
}

#rcorners3 {
  border-radius: 25px;
  background: url(paper.gif);
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 200px;
  height: 150px;
}

h1 {
    color: #F5DABF;
    text-align: center;
}

h2 {
    color: #0F3D3A;
    text-align: center;
}

img {
    width: 250px;
}

h3 {
    color: #F5DABF;
}
