body {
    background-color: #6C151E;
    font-family: cursive;
    padding-bottom: 30px;
    padding: 0px 5% 30px;
}

h1 {
    color: #F5DABF;
    text-align: center;
}

h2 {
    color: #0F3D3A;
    text-align: center;
}

img {
    border: 2px solid red;
  border-radius: 50px 20px;
    width: 250px;
}

h3 {
    color: #F5DABF;
}
